# Папка с результатами сборки
build/

# Папка настроек IDE
.vscode/

# Модули не в библиотечном формате
modules_not_library

# Тестовые программы
tests

# Файлы логов
log_test.txt

# Отчёт по практике
Report
